<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
    <scrip src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <div class="flex h-screen">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar bg-blue-800 text-white shadow-lg w-64 fixed inset-y-0 left-0 z-50">
            <div class="flex justify-between items-center p-4 bg-blue-900">
                <h2 class="text-xl font-bold">Menu</h2>
            </div>
            <ul class="space-y-2 p-4">
                <li>
                    <a href="{% url 'tasks' %}" class="block text-white hover:bg-blue-700 rounded-lg px-4 py-2 transition">
                        Tareas Pendientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'tasks_completed' %}" class="block text-white hover:bg-blue-700 rounded-lg px-4 py-2 transition">
                        Tareas Completadas
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="block text-white hover:bg-red-700 rounded-lg px-4 py-2 transition mt-[26rem]">
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>

        <!-- Content -->
        <div class="flex-1 p-6 ml-64">
            <div class="bg-white shadow-md rounded-lg p-6">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
