<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas Pendientes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

{% extends 'base.html' %}

{% block content %}
<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto p-6 mt-10">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-4xl font-bold text-gray-900">Tareas Completadas</h1>

        </div>
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <ul class="divide-y divide-gray-200">
                {% for task in tasks %}
                <li class="p-6 hover:bg-gray-50 transition duration-200 ease-in-out">
                    <a href="" class="block">
                        <div class="flex justify-between items-center">
                            <div>
                                <h2 class="text-xl font-semibold text-gray-800">
                                    {% if task.important %}
                                    <span class="text-red-600 mr-2">Importante</span>
                                    {% endif %}
                                    {{ task.title }}
                                </h2>
                                <p class="text-gray-500">{{ task.user.username }} • {{ task.datecompleted|date:"d/m/Y" }}</p>
                            </div>
                        </div>
                        <p class="mt-2 text-gray-700">{{ task.description }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% endblock %}

</html>
